<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'add-doctor' %}" method="post">
        {%csrf_token%} 
        <label for="">Doctor name</label>
        <input type="text" name="doctor_name">
        <label for="">Specialization</label>
        <textarea type="text" name="specialization"></textarea>
        <label for="">Department</label>
        <textarea type="text" name="department"></textarea>
        <label for="">Email</label>
        <textarea type="text" name="email"></textarea>
        <label for="">Contact</label>
        <textarea type="text" name="contact_number"></textarea>
        <button type="submit">Add</button>
    </form>
</body>
</html>